@import url('https://fonts.googleapis.com/css?family=Inter:wght@100,200,300,400,500,600,700,800,900&display=swap');

:root {
  --blue-base-color: #529bfa;
  --dark-blue-base-color: #3060ff;
}

body {
  margin: 0px;
  font-family: Inter;
  width: 100dvw;
  height: 100dvh;
  background-image: url('https://img.freepik.com/free-vector/vibrant-fluid-gradient-background-with-curvy-shapes_1017-32108.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}
